<div class="center" sytle = "background-color: #5f6360">
    <!-- <div class="title" style = "text-align: center; color: #A2C93A">
    Diaper Bank
    </div> -->
    <img src = "../../assets/DaiperBankLogo.png" alt = "asdf" style = "display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    " class="title">
    <div class="menu">
        <button mat-button routerLink="/FamilyReg">Without Scanner</button><br>
        <button mat-button>With Scanner</button><br>
        <button mat-button routerLink = "/show">Scanned Patrons</button>
    </div>
    
</div>