<div [formGroup]="parentForm" class="parentForm" style="width: 800px; align-content: center; display: inline-block; position: absolute; left: 50%; margin-left: -450px">
        <h3>Parent Information</h3>
        <mat-divider></mat-divider>

        <mat-form-field style="width: 48%">
                <input matInput placeholder="First Name" formControlName="parentFirstName" #first>
        </mat-form-field>
        <mat-form-field class="childInput" style="width: 48%">
                <input matInput placeholder="Last Name" formControlName="parentLastName" #last>
        </mat-form-field>
        <br>

        <mat-form-field style="width: 100%">
                <input matInput placeholder="Address" formControlName="parentAddress" #address>
        </mat-form-field>
        <br>

        <mat-form-field style="width: 35%">
                <input matInput placeholder="City" formControlName="parentCity" #city>
        </mat-form-field>

        <mat-form-field class="childInput" style="width: 50px">
                <input matInput placeholder="State" formControlName="parentState" #state>
        </mat-form-field>

        <mat-form-field class="childInput" style="width: 110px">
                <input matInput placeholder="ZIP Code" formControlName="parentZIP" #zip>
        </mat-form-field>

        <mat-form-field class="childInput" style="width: 35%">
                <input matInput placeholder="County" formControlName="parentCounty" #county>
        </mat-form-field>
        <br>

        <mat-form-field style="width: 100%">
                <input matInput placeholder="Phone Number" type="tel" (keyup)="phoneFormat($event.target.value, $event.key)"
                formControlName="parentPhone" #phone [value]="parentForm.get('parentPhone').value">
        </mat-form-field>

        <app-childinfo></app-childinfo>

        <button mat-raised-button style="width: 200px" class="right" (click)="submit(first.value, last.value, address.value, city.value, state.value, zip.value, county.value, phone.value)">Submit</button>
</div>






