<div class="parentForm" style="width: 800px">
    <h3>Parent Information</h3>
    <mat-divider></mat-divider>

    <mat-form-field style="width: 48%">
        <input matInput placeholder="First Name" formControlName="parentFirstName">
    </mat-form-field>
    <mat-form-field class="childInput" style="width: 48%">
            <input matInput placeholder="Last Name" formControlName="parentLastName">
    </mat-form-field>
    <br>

    <mat-form-field style="width: 100%">
            <input matInput placeholder="Address" formControlName="parentAddress">
    </mat-form-field>
    <br>

    <mat-form-field style="width: 35%">
            <input matInput placeholder="City" formControlName="parentCity">
    </mat-form-field>

    <mat-form-field class="childInput" style="width: 50px">
            <input matInput placeholder="State" formControlName="parentState">
    </mat-form-field>

    <mat-form-field class="childInput" style="width: 110px">
            <input matInput placeholder="ZIP Code" formControlName="parentZIP">
    </mat-form-field>

    <mat-form-field class="childInput" style="width: 35%">
            <input matInput placeholder="County" formControlName="parentCounty">
    </mat-form-field>
    <br>

    <mat-form-field style="width: 100%">
            <input matInput placeholder="Phone Number" formControlName="parentPhone">
    </mat-form-field>

    <!-- <mat-button></mat-button> -->
</div>